.contacts {
  padding: 20px;
  grid-column: 1/3;
  border-top: 1px solid#f0Ebff;
}

.contacts__title {
  @include zero-indent;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7859cf;
  margin-bottom: 12px;
}

.contacts__address,
.contacts__phone {
  position: relative;
}

.contacts__address-text {
  @include zero-indent;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 20px;
  margin-bottom: 16px;
}

.contacts__phone-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-decoration: none;
  margin-left: 20px;
}

.contacts__icon {
  position: absolute;
  top: 3px;
}
