.main-header {
  position: relative;
  margin: 0 auto;
  width: $mobile-width;
  box-sizing: border-box;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $tablet-width;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: left;
    width: $desktop-width;
    padding: 0 40px;
  }
}

.main-header__logo {
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.main-header__logo-img {
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 1px;
    width: 170px;
    margin-right: 20px;
  }
}

.main-header__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 0;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    max-width: 130px;
    margin-right: 162px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 154px;
  }
}
