.nojs .site-nav__list {
  display: flex;
}

.nojs .site-nav__toggle {
  display: none;
}

.nojs .main-header .user-nav {
  margin-right: 0;
}

.nojs .main-header .user-nav__list {
  justify-content: flex-end;
}
