.page {
  height: 100%;
  background: #e5e5e5;
}

.page__body {
  min-width: $mobile-width;
  margin: 0 auto;
  min-height: 100%;
  font-family: "Montserrat", $font-arial;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  overflow-x: hidden;
}
