.products {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.products__list {
  @include zero-indent;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 21px;
    margin-bottom: 62px;
  }
}

.products__card {
  padding: 42px 20px 20px 20px;
  background-color: #ffffff;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px 30px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2) {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }
}

.products__picture-link {
  align-self: center;
  display: block;
  margin-bottom: 24px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.products__picture {
  display: block;
}

.products__text-link {
  margin-bottom: 4px;
  text-decoration: none;
}

.products__name {
  @include zero-indent;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #333333;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 5px;
  }
}

.products__info {
  @include zero-indent;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.products__purchase {
  display: flex;
  justify-content: space-between;
}

.products__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  padding-top: 2px;
  margin-left: -2px;
}

.products__button {
  @include button;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 20px;
}

.products__add-icon {
  margin-right: 6px;
  margin-top: 2px;
}
