.swiper {
  width: 280px;
  background-color: #f3ebe1;
  padding: 20px 20px 50px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 728px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;

    padding: 20px 20px 50px 20px;
  }
}

.swiper__slide-number {
  display: none;
}

.swiper-slide {
  display: block;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

.swiper__picture {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
    margin-bottom: 0;
  }
}

.swiper__info {
  @media (min-width: $desktop-width) {
    padding: 150px 80px 10px 0;
    text-align: left;
  }
}

.swiper__text {
  @include zero-indent;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #7859cf;
  margin-bottom: 4px;
}

.swiper__title {
  @include zero-indent;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #333333;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
}

.swiper__description {
  @include zero-indent;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}

.swiper__purchase {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.swiper__old-price {
  @include zero-indent;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: #7859cf;
  margin-right: 6px;
}

.swiper__new-price {
  @include zero-indent;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-right: 20px;
}

.swiper__button {
  @include button;
  padding: 8px 20px;
}

.swiper-button-next {
  color: #7859cf;
  right: 0;

  &:hover,
  &:focus {
    background: linear-gradient(-90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:focus-visible {
    outline-color: #7859cf;
    outline-offset: -2px;
  }

  &:active {
    background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    color: #bdbdbd;
  }
}

.swiper-button-prev {
  color: #7859cf;
  left: 0;

  &:hover,
  &:focus {
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:focus-visible {
    outline-color: #7859cf;
    outline-offset: -2px;
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 20px;
  height: 100%;
  top: 22px;

  &:disabled {
    background: none;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    width: 80px;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev__icon,
.swiper-button-next__icon {
  color: #7859cf;

  &:disabled {
    color: #bdbdbd;
  }
}

.swiper-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}

.swiper-pagination-bullet {
  width: 64px;
  height: 4px;
  border-radius: 0;
  background: #ffffff;
}

.swiper-pagination-bullet-active {
  background: #7859cf;
}
