.user-nav {
  margin-right: 60px;
  grid-column: 2/3;
  grid-row: 1;
}

.user-nav__list {
  @include zero-indent;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.user-nav__item {
  @include zero-indent;
  display: flex;

  &:hover {
    background-color: #f0ebff;
  }

  &:active {
    background-color: #f0ebff;
  }
}

.user-nav__navigation-link {
  @include zero-indent;
  display: contents;
  text-decoration: none;

  &:hover {
    background-color: #f0ebff;
  }

  &:active {
    background-color: #f0ebff;
  }
}

.user-nav__navigation-icon {
  padding: 22px;
}

.user-nav__navigation-text {
  display: none;
}
